h1{
    color:white;
    font-family: monotype corsiva;
    font-size: 6vmax;
}
p{
    color:white;
    font-family: Bahnschrift Light;
    text-align: center;
    font-size: x-large;
}
a{
    color: floralwhite;
}