h1{
    font-family: Lucida Handwriting;
    color:darkslategray;
}
h2{
    font-family: Rockwell;
    padding: 1em;
    color:darkslategray;
}a{
    font-family: Cooper Black;
    font-size: x-large;
    color: firebrick;

}